@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);
html, body {
	width: 100%;
	padding: 0;
	margin: 0;
	background-color: #ddd;
}
h1, h2, h3, h4, h5, h6, p, li, span {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
	color: #222222;
}
a {
	color: #222222;
	font-weight: bold;
}
	a:hover {
		text-decoration: none;
	}
div {
	padding: 0;
	margin: 0;
}
.container {
	position: relative;
	width: 420px;
	text-align: center;
	margin: 20px auto 100px auto;
}
	.sidebar-left {
		width: 210px;
		padding: 20px;
		margin: 0;
		background-color: #EEEEEE;
		position: absolute;
		/*text-align: left;*/
		top: 13em;
		left: -260px;
		-webkit-border-radius: 5px;
		-moz-border-radius: 5px;
		border-radius: 5px;
	}
		.sidebar-left h2 {
			margin: 0 0 1em 0;
			text-align: center;
		}
.ammo-counter {
	font-weight: bold;
}
.fleet-roster {
	margin: 0;
	padding: 0;
	list-style: none;
}
	.fleet-roster li {
		margin: 0.5em 0;
	}
	.sunk {
		text-decoration: line-through;
	}
.grid {
	padding: 5px;
	height: 420px;
	width: 420px;
	background-color: #25567B;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}
	.no-js {
		width: 300px;
		height: 300px;
		margin: 100px auto;
		display: inline-block;
		color: #EEEEEE;
		font-size: 2em;
	}
	.grid-cell {
		vertical-align: top; /*clears the vertical space between rows*/
		height: 40px;
		width: 40px;
		display: inline-block;
		background-color: #66A3D2;
		margin: 1px;
		-webkit-border-radius: 2px;
		-moz-border-radius: 2px;
		border-radius: 2px;
	}
		.grid-cell:hover {
			cursor: pointer;
			background-color: #7EB3DA;
		}
	.grid-ship {
		background-color: #C0C0C0;
	}
	.grid-miss, .grid-miss:hover {
		background-color: #EEEEEE;
	}
	.grid-hit, .grid-hit:hover {
		background-color: #F60018;
	}
	.grid-sunk, .grid-sunk:hover {
		background-color: #222222;
	}
